@font-face {
  font-family: 'Porcelain';
  src: local('Porcelain'),
       url('../assets/fonts/Porcelain.woff') format('woff');
}

@font-face {
  font-family: 'Tulpen-One';
  src: local('TulpenOne-Regular')
       url('../assets/fonts/TulpenOne-Regular.ttf') format('ttf');
}